.dashboard {
  display: flex-column;
  justify-content: center;
  background-image: url("../../assets/backgrounds/bg-forest.png");
  background-size: cover;
  min-height: 200px;
}

h1 {
  font-family: "Times New Roman", Times, serif;
}

@keyframes mushroomIdle {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: -210px;
  }
}
.mushroom-idle-animation {
  width: 30px;
  height: 33px;
  background-image: url("../../assets/images/cropped-mushroom.png");
  background-repeat: none;
  animation: mushroomIdle 2s steps(7) infinite;
}